easychat
addon.gma
shader_cache_temp_dir_gl_64
logs
config
appcache
steamapps
GameOverlayRenderer.log
passcode.txt
debug.json

bin/*
!bin/steamcmd.exe
!bin/gmpublish.exe
!bin/steam_guard.exe
!bin/steam_api.dll
