import { InputOptions } from "@actions/core";

export default function getDebugInput(input: string, options?: InputOptions): string {
	switch (input) {
		case "account-name":
			return "username";
		case "account-password":
			return "password";
		case "account-secret":
			return "secret";
		case "workshop-id":
			return "123456798";
		case "addon-path":
			return "../local_addon_folder";
		default:
			return "";
	}
}